mixin row(props)
    .row&attributes(attributes)
        .row__container
            .row__container-el.row__container-el--red
                p Paragraph
                p Paragraph
                p Paragraph
            .row__container-el.row__container-el--yellow
                ul
                    li Text
                    li Text
                    li Text
                ol
                    li Text
                    li Text
                    li Text
        .row__footer
            button.row__footer-button Нажми
